<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video_gallery.name %>
</p>

<%= link_to 'Edit', edit_video_gallery_path(@video_gallery) %> |
<%= link_to 'Back', video_galleries_path %>
