<p>
  <% if model.presentable? %>
    <%= link_to "Preview...", preview_url_for(model), target: '_blank', class: "btn btn-default" %>
  <% else %>
    <%= link_to "Preview...", preview_url_for(model), target: '_blank', class: "btn btn-default disabled" %>

    <span class="text-danger">
      This <%= model.model_name.human.downcase %> is incomplete and cannot be previewed or assigned to devices yet.
      <%= yield %>
    </span>
  <% end %>
</p>
