<% if model.errors.any? %>
  <div id="error_explanation" class="panel panel-danger">
    <div class="panel-heading">
        <%= pluralize(model.errors.count, "error") %> prohibited this <%= model.class.model_name.human.downcase %> from being saved:
    </div>

    <div class="panel-body">
      <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
